#------------------
# 1. LOCALISATION
#------------------

#
# Certain "early" localisation Preseed options are passed to the kernel
# commandline via the debian-cd/CONF.sh `KERNEL_PARAMS` variable. This is
# necessary as the `/preseed.cfg` configuration file is loaded _after_ these
# Preseed options are answered.
# The options have been included here for completeness but defined as a comment
# (prefixed with #).
#

### Localisation ###
d-i debian-installer/locale string en_US.UTF-8
# d-i debian-installer/language string en
# d-i debian-installer/country string US

### Keyboard ###
# d-i console-keymaps-at/keymap select us
# d-i keyboard-configuration/xkb-keymap select us

### Firmware ###
d-i hw-detect/load_firmware boolean false

#------------------
# 2. NETWORK
#------------------

### Link ###
d-i netcfg/enable boolean true
d-i netcfg/choose_interface select eno1
d-i netcfg/link_wait_timeout string 10

### Disable DHCP ###
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/disable_dhcp boolean true
d-i netcfg/dhcp_timeout string 10
d-i netcfg/dhcp_failed note
d-i netcfg/dhcp_options select Configure network manually

### Manual IPv4 ###
d-i netcfg/get_ipaddress string 192.168.0.2
d-i netcfg/get_netmask string 255.255.0.0
d-i netcfg/get_gateway string 192.168.0.1

### Hostname & Domain name ###
d-i netcfg/get_nameservers string 1.1.1.1 8.8.8.8
d-i netcfg/get_hostname string seed
d-i netcfg/get_domain string raft.com

### Mirror ###
d-i apt-setup/use_mirror boolean false

#------------------
# 3. USER ACCOUNTS
#------------------

### Disable root account ###
d-i passwd/root-login boolean false

### Unprivileged user ###
d-i passwd/user-fullname string Debian User
d-i passwd/username string debian
d-i passwd/user-password-crypted password $6$rounds=10000$7U2Z2BLQGYK6LBAY$IT6bkjiitybiuJsDvPgRkGlg3EtcjaVleTm2hTpTfyp057KPn/IyFLoXTIfEGHA5TJ0j4XuAorkayhrBYJHgU1
d-i passwd/user-id string 1000
